# general modules
django >3.2,<3.3
python-decouple
Pillow
djangorestframework

# third party modules
markdown       
django-filter
drf-yasg[validation] 
djangorestframework-simplejwt 
djoser
Faker 
django-cors-headers


# email third party modules
django-mail-templated

# formating and refactoring modules
black
flake8
pytest
pytest-django

# background proccess and cache
celery
redis
django_celery_beat